
@import "primereact/resources/themes/md-dark-deeppurple/theme.css";
@import "primeflex/primeflex.css";

body {
  background-color: var(--surface-300);
}

.p-panel {
  display: flex;
  flex-direction: column;
  .p-toggleable-content {
    flex: 1;
    .p-panel-content {
      height: 100%;
    }
  }
}